#playground{
	width:70%;
	height:100%;
	float:left;
	outline: 1px solid red;
	position:relative;
}

#playground img{
	position:absolute;
}

#menu{
	width:25%;
	height:100%;
	float:left;
	outline: 1px solid blue;
}

#menu ul{
	list-style: none;
}

#menu ul li{
	margin:25px;
}

#menu ul li a{
	padding:10px;
	border:1px solid black;
	border-radius:12px;
}